<!DOCTYPE html> 
<html> 
<head> 
	<meta charset='utf-8'> 
	<title>A great alternate title...</title>
</head>

<body>
	<h2>Testing Seek</h2>
	
	
	<div>
		<%= @content_for_layout %>
	</div>
</body>
</html>
    

